.user-info {
    background-color: #F4FAFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 30px;
    height: 80vh;
}

.profile-picture {
    border-radius: 50%;
}